absl-py
Flask
flask_restful
pymongo
bcrypt
numpy
tensorflow
requests
pylint
grpcio
grpcio-tools
grpc.tools
tensorflow-serving-api
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability