absl-py
Flask
flask_restful
pymongo
bcrypt
numpy
tensorflow
requests
pylint
grpcio
grpcio-tools
grpc.tools
tensorflow-serving-api
dnspython>=2.6.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability